<ion-view title="{{greeting}}">
    <ng-include src="'templates/menubar.tpl.html'"></ng-include>
    <ion-content has-header="true" padding="true">
        <div class="homepage" ng-controller="HomeCtrl">

            <ul class="list">
                <li class="item">
                    <h2 class="title">You are {{state}}</h2>
                </li>
                <li class="item">
                    <h2 class="title">You are {{registerStatus}}</h2>
                </li>
                <li class="item">
                    <h2 class="title">You are {{state}}</h2>
                </li>
                <li class="item">
                    <h2 class="title">You are {{state}}</h2>
                </li>
            </ul>


            <p>Swipe to the right to reveal the left menu.</p>
            <p>(On desktop click and drag from left to right)</p>

            <p>
                <button class="button button-positive" ng-click="doRegistration()">
                    Start Registration
                </button>
            <div ng-bind-html="insertIframe()">
            </div>
            </p>
            <p>
                <button class="button button-balanced" ng-click="doLogin()">
                    Login & Fetch User Data.
                </button>
            </p>
            <p>
                <button class="button button-energized" ng-click="getFirstData()">
                    List ITEM
                </button>

            </p>
<!--
            <button class="button button-calm">
                button-calm
            </button>




            <button class="button button-assertive">
                button-assertive
            </button>

            <button class="button button-royal">
                button-royal
            </button>

            <button class="button button-dark">
                button-dark
            </button>-->
        </div>
    </ion-content>
</ion-view>